/********************
*** Default ***
********************/

/* html과 body태그 안에 있는 마진과 패딩 초기화 */
html , body{
	margin: 0;
	padding: 0;
}

/* 브라우저 x축을 벗어나는 모든 요소를 감추기 위해 overflow-x:hidden 적용
   창밖으로 나가는 콘텐츠를 방지하고 가로 스크롤이 생기지않게 하기 위해 꼭 적용*/
body{
	overflow-x:hidden; 
}

/* h1~p태그 안에 있는 마진과 패딩 초기화 */
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}

/* 버튼 안에 css 속성 초기화 */
button{
	border: none;
	
/* 	배경색을 투명하게 */
	background-color: transparent;
}

#intro{
	width:100%;
	height: 1600px;
	background-image: url(../img/intro/intro_bg.png);
/* 	padding-top: 100px; 전체길이가 늘어나서 못써먹음 */

	
}
#intro .introWrap{
	/*introWrap 서랍장을 2차원과 3차원 특징으로 변경 */
 	position: relative; 
 	width: 760px;
 	height: 516px;
/*  	background-color: yellow; */
 	
/*  intro 공간을 기준으로 introWrap서랍장 왼쪽면이 50%로 이동 */
 	left: 50%;
 	
/*  introWrap 서랍장의 760의 절반값을 적용함 그러면 
	서랍장 왼쪽으로 절반(380)만큼 당겨지면서 중간으로 감 */
 	margin-left: -380px;
 	
/*  margin-top: 100px; 부모에까지 영향을 미쳐서 마진병합현상이 일어나 못씀 */

	top: 100px;
	
}
#intro .introWrap .logo{
/* 	로고를 3차원 특징으로 변경 */
	position: absolute;
	width: 760px;
	height: 516px;
	background-image: url(../img/intro/logo.png);
	z-index: 100;
}
#intro .introWrap .lion{
	position: absolute;
	width: 161px;
	height: 161px;
	background-image: url(../img/intro/lion.png);
	
/* 	상단에서 80 왼쪽에서 30px 떨어진 지점에 배치 */
	margin: 80px 0 0 30px;
}
#intro .introWrap .rabbit{
	position: absolute;
	width: 105px;
	height: 129px;
	background-image: url(../img/intro/rabbit.png);
	margin: 90px 0 0 5800px;
}
#intro .introWrap .bear{
	position: absolute;
	width: 112px;
	height: 105px;
	background-image: url(../img/intro/bear.png);
	margin: 310px 0 0 560px;
	z-index: 200;
}
#intro .introWrap .monkey{
	position: absolute;
	width: 85px;
	height: 93px;
	background-image: url(../img/intro/monkey.png);
	margin: 310px 0 0 50px;
	z-index: 200;
}

#intro .cloudWrap{
	position: relative;
	width: 100%;
	height: 1050px;
	
/* 	영역을 알아보기 위해서 배경설치 */
/* 	background-color: pink; */
}
#intro .cloudWrap .leftCloud{
	position:absolute;
	width: 934px;
	height: 816px;
	background-image: url("../img/intro/cloud1.png");
	left:0;
	z-index:2;
}
#intro .cloudWrap .rightCloud{
	position:absolute;
	width: 843px;
	height: 858px;
	background-image: url("../img/intro/cloud2.png");
	right:0;
	z-index:1;
}
#intro .cloudWrap .dragonfly{
	position:absolute;
	width: 366px;
	height: 228px;
	background-image: url("../img/intro/dragonfly.png");
	top:820px;
}

/* Farm1 */
#farm1{
 	position: relative; /*2차원 3차원으로 */
	width: 100%;
	height: 800px;
	background-image: url("../img/farm/farm1/farm1_bg.png");
}
/* 좌우 배치 작업을 할 때 앱솔루트 속성값이 적용된 영역에서는 left:0을 생략할 수 있다. */
#farm1 .leftRice1{
 	position: absolute; /* 3차원으로 */
 	width: 390px;
 	height: 679px;
 	background-image: url("../img/farm/farm1/leftrice.png");
}
#farm1 .farmer{
 	position: absolute; /* 농부를 3차원으로 */
 	width: 747px;
 	height: 1078px;
 	background-image: url("../img/farm/farm1/farmer.png");
 	left: 50%;
 	margin-left: -310px;
}
#farm1 .rightRice1{
 	position: absolute; 
 	width: 335px;
 	height: 570px;
 	background-image: url("../img/farm/farm1/rightrice.png");
 	right:0;
 	margin-top: 100px;
}
/* 마진병합 방지를 위해 margin-top 대신 top 속성 사용 */
#farm1 .farmSpeechWrap{
	position: relative; 
	top: 250px;
	left: 150px;
}
/* 우리쌀 키즈가오 텍스트 스타일 변경 */
#farm1 .farmSpeechWrap .farmSpeech{
	color: #895C2F;
	font-size: 18px;
 	line-height: 27px; /* 글자간의 간격 */
}

#farm2{
	width: 100%;
	height: 850px;
	background-image: url("../img/farm/farm2/farm2_bg.png");
}
#farm2 .leftRice2{
	width: 250px;
	height: 850px;
	background-image: url("../img/farm/farm2/leftRice2.png");
/* 	레이라웃이 틀어지는 현상을 막고 싶다면 absolute , left:0을 적용 */
	float: left;
}
#farm2 .scarecrow{
	position: absolute;
	width: 103px;
	height: 206px;
	background-image: url("../img/farm/farm2/scarecrow.png");
	
/* 	3차원이라 부모자식간에 마진병합 현상 없음 */
	margin: 200px 0 0 300px;
}
#farm2 .rightRice2{
	width: 236px;
	height: 850px;
	background-image: url("../img/farm/farm2/rightrice2.png");
	float: right;
}

#farm3{
	width: 100%;
	height: 850px;
	background-image: url("../img/farm/farm3/farm3_bg.png");
}
#farm3 .farm3Window{
	position:absolute;
	width: 247px;
	height: 169px;
	background-image: url("../img/farm/farm3/window.png");
	margin: 100px 0 0 100px;
}
#farm3 .machineWrap{
	position: relative;
	width: 600px;
	height: 455px;
	top: 150px;
	left: 50%;
	margin-left: -285px;
}
#farm3 .machineWrap .machine1{
	position: absolute;
	width: 586px;
	height: 455px;
	background-image: url("../img/farm/farm3/machine1.png");
	z-index: 900;
}
#farm3 .machineWrap .sawShadow{
	position: absolute;
	width: 95px;
	height: 95px;
	background-image: url("../img/farm/farm3/sawShadow.png");
	margin: 145px 0 0 145px;
}
#farm3 .machineWrap .saw1 ,#farm3 .machineWrap .saw2{
	position: absolute;
	width: 95px;
	height: 95px;
	background-image: url("../img/farm/farm3/saw.png");
	margin: 145px 0 0 145px;
}
#farm3 .machineWrap .saw1{
	margin: 140px 0 0 140px;
}
#farm3 .machineWrap .saw2{
	margin: 140px 0 0 140px;
}
#farm3 .machineWrap .timer{
	position: absolute;
	width: 103px;
	height: 104px;
	background-image:url("../img/farm/farm3/second.png")
	margin: 125px 0 0 45px;
	z-index: 999;
}
#farm3 .machineWrap .machineBird{
	position: absolute;
	width: 44px;
	height: 49px;
	background-image:url("../img/farm/farm3/machineBird.png")
	margin: 220px 0 0 20px;
	z-index: 999;
}
#farm3 .farm3Bubble{
	position : relative;
	float: right;
	top: -100px;
	margin-right: 80px;
}

#forest1{
	width: 100%;
	height: 1050px;
	background-image: url("../img/forest/forest1/forest1_bg.png");
}
#forest1 .leftTree{
	position:absolute;
	width: 332px;
	height: 990px;
	background-image: url("../img/forest/forest1/lefttree.png");
}
#forest1 .treeWrap{
	position:relative;
	width: 304px;
	height: 572px;
	top: 100px;
	float: right;
}
#forest1 .treeWrap .rabbit1{
	position:absolute;
	width: 82px;
	height: 103px;
	background-image: url("../img/forest/forest1/rabbit1.png");
	margin: 435px 0 0 107px;
}
#forest1 .treeWrap .rabbit2{
	position:absolute;
	width: 56px;
	height: 75px;
	background-image: url("../img/forest/forest1/rabbit2.png");
	margin: 435px 0 0 200px;
}
#forest1 .treeWrap .rightTree{
	position:absolute;
	width: 304px;
	height: 572px;
	background-image: url("../img/forest/forest1/rightTree.png");
}
#forest2{
	width: 100%;
	height: 750px;
	background-image: url("../img/forest/forest2/forest2_bg.png");
}
#forest2 .frog{
	position : absolute;
	width: 153px;
	height: 257px;
	background-image: url("../img/forest/forest2/frog.png");
	margin: 50px 0 0 100px;
}
#forest2 .machineWrap2{
	position : relative;
	width: 400px;
	height: 400px;
	top : 180px;
	left:50%;
	margin-left: -180px;
}
#forest2 .machineWrap2 .machineBottom{
	position : absolute;
	width: 374px;
	height: 162px;
	background-image: url("../img/forest/forest2/machineBottom.png");
	margin-top: 220px;
	z-index: 200;
}
#forest2 .machineWrap2 .machineLeft{
	position : absolute;
	width: 123px;
	height: 228px;
	background-image: url("../img/forest/forest2/machineLeft.png");
	margin-top: 30px;
	z-index: 200;
}
#forest2 .machineWrap2 .machineRight{
	position : absolute;
	width: 123px;
	height: 248px;
	background-image: url("../img/forest/forest2/machineRight.png");
	margin: 10px 0 0 260px;
	z-index: 200;
}
#forest2 .forestBubble{
	position : relative;
	width: 365px;
	height: 220px;
	background-image: url("../img/forest/forest2/forestBubble.png");
	top : -100px;
	float:right;
	margin-right:100px;
}
#forest2 .forest2Tree{
	position : relative;
	width: 304px;
	height: 282px;
	background-image: url("../img/forest/forest2/forest2Tree.png");
	top : 50px;
	float: left;
}
#forest3{
	width: 100%;
	height: 600px;
	background-image: url("../img/forest/forest3/forest3_bg.png");
}
#forest3 .forest3Wrap{
	position: relative;
	width: 354px;
	height: 440px;
	top: 100px;
	float: right;
}
#forest3 .forest3Wrap .forest3Tree{
	position: absolute;
	width: 354px;
	height: 440px;
	background-image: url("../img/forest/forest3/forest3Tree.png");
}
#forest3 .forest3Wrap .smallBird{
	position: absolute;
	width: 40px;
	height: 35px;
	background-image: url("../img/forest/forest3/bird_sm.png");
	top: 120px;
	left: 125px;
}
#forest3 .forest3Wrap .bigBird{
	position: absolute;
	width: 83px;
	height: 80px;
	background-image: url("../img/forest/forest3/bird_big.png");
	margin:280px 0 0 94px;
}
/* <!-- 사이언스 서랍장 --> */
#science{
	position: relative;
	width: 100%;
	height: 800px;
	background-image: url("../img/science/science_bg.png");
}

/* <!-- 사이언스 프레임 --> */
#science .scienceWrap{
	position: relative;
	width: 1066px;
	height: 611px;
	left:50%;
	margin-left: -533px;
}

/* <!--사이언스 왼쪽서랍장 --> */
#science .scienceWrap .scienceLeftWrap{
	float: left;
}
#science .scienceWrap .scienceLeftWrap .gly{
	width: 230px;
	height: 192px;
	background-image: url("../img/science/gly.png");
	margin-bottom: 130px;
	margin-left: 55px;
}
#science .scienceWrap .scienceLeftWrap p{
	color: #8E7577;
	font-size: 18px;
	line-height: 26px;
	padding-top: 10px;
}

/* <!-- 사이언스 중앙서랍장 --> */
#science .scienceWrap .scienceCenterWrap{
	float: left;
}
#science .scienceWrap .scienceCenterWrap .purpleSteam{
	position:relative;
	width: 241px;
	height: 216px;
	background-image: url("../img/science/grape.png");
	left: 50%;
	margin-left: -120px;
	z-index: 100;
}
#science .scienceWrap .scienceCenterWrap .funnelBack{
	position: absolute;
	width: 488px;
	height: 438px;
	background-image: url("../img/science/hopperback.png");
	margin-top: -45px;
}
#science .scienceWrap .scienceCenterWrap .funnelFront{
	position: relative;
	width: 485px;
	height: 390px;
	background-image: url("../img/science/hopperfront.png");
	margin-top: 5px;
	margin-left: 2px;
}

/* <!-- 사이언스 오른쪽 서랍장 --> */
#science .scienceWrap .scienceRightWrap{
	float: right;
}
#science .scienceWrap .scienceRightWrap .water{
	width: 204px;
	height: 191px;
	background-image: url("../img/science/water.png");
	margin-bottom: 130px;
}
#science .scienceWrap .scienceRightWrap p{
	color: #8E7577;
	font-size: 18px;
	line-height: 26px;
	padding-top: 10px;
}

/* night1 섹션 */
#night1{
	width: 100%;
	height: 700px;
	background-image: url("../img/oneday/night1/night1_bg.png");
}
#night1 .owl{
	position: absolute;
	width: 334px;
	height: 571px;
	background-image: url("../img/oneday/night1/owl.png");
	margin-top: 50px;
}
#night1 .starWrap{
	position: relative;
	width: 750px;
	height: 400px;
	top: 150px;
	margin-left: 600px;
}
#night1 .starWrap .star1,
#night1 .starWrap .star2,
#night1 .starWrap .star3 {
	position: absolute;
	width: 53px;
	height: 50px;
	background-image: url("../img/oneday/night1/star1.png");
}
#night1 .starWrap .star1 {
	margin-top: 350px;
}
#night1 .starWrap .star2 {
	margin-left: 650px;
}
#night1 .starWrap .star3 {
	margin: 250px 0 0 500px;
}

/* night2 섹션 */
#night2{
	position:relative;
	width: 100%;
	height: 700px;
	background-image: url("../img/oneday/night2/night2_bg.png");
}
#night2 .moon{
	width: 135px;
	height: 135px;
	background-image: url("../img/oneday/night2/moon.png");
}
#night2 .moon{
	width: 135px;
	height: 135px;
	background-image: url("../img/oneday/night2/moon.png");
}
#night2 .night2Bubble{
	position:absolute;
	margin: 300px 0 0 80px;
}
#night2 .rightMoonTree{
	position:absolute;
	width: 243px;
	height: 588px;
	background-image: url("../img/oneday/night2/moontree.png");
	right: 0;
	bottom: 0;
}

/* <!--morning 섹션--> */
#morning{
	position: relative;
	width: 100%;
	height: 800px;
	background-image: url("../img/oneday/morning/morning_bg.png");
}
#morning .sun{
	width: 131px;
	height: 131px;
	background-image: url("../img/oneday/morning/sun.png");
}
#morning .leftPine{
	position:absolute;
	width: 231px;
	height: 329px;
	background-image: url("../img/oneday/morning/leftPine.png");
	top: 270px;
}
#morning .rightPine{
	position:absolute;
	width: 294px;
	height: 609px;
	background-image: url("../img/oneday/morning/rightPine.png");
	right: 0;
	bottom: 0;
}